* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: aliceblue;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 20px;
}

#left,
#right {
    width: 470px;
    height: 600px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 15px;
    border-style: dashed;
}

.list {
    width: 388px;
    height: 100px;
    background: #9E9E9E;
    margin: 40px;
    border-radius: 5px;
    padding: 2px;
}


.img_star_grid {
    display: grid;
    grid-template-columns: 170px auto;
    justify-items: end;
    margin: 20px;
}

.star {
    width: 21px;
    height: 23px;
}


.grid_5 {
    display: grid;
    grid-template-columns: 42px 120px;
    gap: 5px;
}

.text_grid {
    display: grid;
    grid-template-rows: 20px 20px;
    font-size: 15px;
}

.btn_div {
    position: absolute;
    top: 370px;
    left: 577px;
}

button {
    border: none;
    background: #69f469;
    width: 130px;
    height: 30px;
    font-size: 1rem;
    border-radius: 30px;
}


@media (max-width: 600px) {

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin: 20px;
        row-gap: 20px;
    }

    #left,
    #right {
        width: 321px;
        height: 600px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 16px 48px #00000029;
        border-radius: 15px;
        border-style: dashed;
    }

    .list {
        width: 254px;
        height: 100px;
        background: #9E9E9E;
        margin: 40px;
        border-radius: 5px;
        padding: 2px;
    }

    .star {
        width: 16px;
        height: 15px;
    }

    .btn_div {
        display: grid;
        justify-items: center;
        top: 0;
        left: 0;
        position: unset;
    }
}

@media (min-width: 601px) and (max-width: 840px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin: 20px;
    }

    #left,
    #right {
        width: 366px;
        height: 600px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 16px 48px #00000029;
        border-radius: 15px;
        border-style: dashed;
    }

    .list {
        width: 296px;
        height: 100px;
        background: #9E9E9E;
        margin: 40px;
        border-radius: 5px;
        padding: 2px;
    }


    .btn_div {
        position: unset;
        display: grid;
        justify-items: center;
    }
}